@media only screen and (min-width: 600px) {

    header,
    main {
        display: flex;
        flex-direction: column;
    }

    #menu {
        display: none;
    }

    ul.navigation,
    ul.navigation.open {
        display: flex;
        justify-content: center;
        font-size: 24px;
        list-style-type: none;
    }

    .herolabel h1 {
        font-size: 4rem;
    }

    header div {
        margin-top: 5px;
        flex-direction: column;
    }


    main h1 {
        margin: 0px 5px;
    }

    #blocks {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .block {
        margin: 5px 5px;
    }

    footer {
        text-align: center;
    }

}